@font-face {
    font-family:Thai Sans Lite;
    src: url('thaisanslite_r1.ttf');
}
@font-face {
    font-family:Thai Sans Lite;
    src:url('thaisanslite_r1.eot');
    src:url('thaisanslite_r1.eot?iefix') format('embedded-opentype'),
        url('thaisanslite_r1.woff') format("woff"),
        url('thaisanslite_r1.ttf') format("truetype"),
        url('thaisanslite_r1.svg#family:myFont') format("svg");
}

/* CSS Document */
body{ padding:0; margin:0; background:#e5e4d2; font:normal 13px Arial, Helvetica, sans-serif; color:#073705;}
h1{ font-family:Thai Sans Lite; color:#f8ac08;}
img{ border:0;}
a.active{
    color: #fde305 !important;
}
a{color:#fff; text-decoration: none;}
a:hover{color:#f3bb3e; text-decoration: underline;}
.clear{ clear:both;}
#top{ width:100%; background:#073705; height:50px; position: absolute; z-index:0;}
#login-social{ width:1024px; margin:0 auto 0 auto; text-align:right;}
.form-send-msg{ margin:10px 0 0 0; width:550px; padding:0;}
.top-left{ float:left; margin:0 0 0 250px; padding:0;}
.top-right{ float:right; width:200px; border-left:1px dashed #fff; margin:11px 0 0 0;}
.input{ height:25px; border:1px solid #CCCCCC;}
#logo-menu{ width:1024px; margin:0 auto;}
#logo{ float:left; margin:0 auto; padding:10px 0 0 0; position: absolute; z-index:1;}
#menu{ width:680px; margin:50px auto 0 auto; padding:0; position: relative; z-index:0; float:right;}
#menu ul{list-style:none; padding:0 0 0 20px; margin:0 auto; text-align:center; font-family:Thai Sans Lite; font-size:20px;}
#menu li{display:block; float:left; padding:5px 27px; margin:0;}
#menu li a{color:#073705; text-decoration: none;}
#menu li a:hover{color:#f8ac08; text-decoration: none;}
#slide{ clear: both; margin:0 0 0 0; padding:0; width:100%; position:relative; z-index:0;}
.txtslide{ width:1024px; position:absolute; z-index:5; padding:350px 0 0 520px; text-align:center; margin: 0 auto 0 auto;}
.imgslideproducts{ height:126px; background: url(images/img-products.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}
.txtslideproducts{width:1024px; position:absolute; z-index:5; padding:10px 0 0 520px; text-align:center; margin: 0 auto 0 auto;}
#content{ clear:both; width:1024px; margin:500px auto 0 auto; padding:0;}
#contentproducts{ clear:both; width:1024px; margin:0 auto;}
#contentproducts ul{list-style:none; padding:0 0 0 20px; margin:0 auto; text-align:center; width:1024px;}
#contentproducts li{display:block; float:left; padding:5px 15px; margin:0;}
#contentproducts li a{ color:#000; text-decoration:none;}
#contentproducts span{ }
#contentproducts p{ text-align:left;}
.contentproductsimg{width:213px;}
#footer{ clear:both; padding:10px 0; margin:0 auto; width:1024px; text-align:center; color:#7b7b7b; background:#073705;}
.item-cost{
    color: #fb0709;
}
.add_cart_button {
    width: 108px !important;
    display: block;
    height: 20px;
    color: #FFFFFF !important;
    margin-left: 39px;
    background-color: #073705;
    border-radius: 10px;
    padding: 4px;
    border: 1px solid #073705;
    text-shadow: 0px 1px rgba(109, 108, 108, 0.46);
    margin: auto;
}
.add_cart_button:active {
    
    background-color: #3a6d29;
  
}